.main-bar
  .main-bar__header
    .main-bar__header__left
      .main-bar__header__left__name
        = @group.name
      .main-bar__header__left__members
        Member :
        - @group.users.each do |user|
          = user.name
    .main-bar__header__right
      = link_to edit_group_path(@group), class: "main-bar__header__right__btn" do
        edit
  .main-bar__contents
    = render partial: 'message', collection: @messages
  .main-bar__footer
    = form_for [@group, @message] do |f|
      .main-bar__footer__left
        = f.text_field :content, class: 'main-bar__footer__left__text', placeholder: 'type a message'
        = f.label :image, class: 'main-bar__footer__left__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main-bar__footer__left__file'
        = f.submit 'Send', class: 'main-bar__footer__left__btn'